.profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  margin: auto 80px;
  padding: 20px;
  min-height: 500px;
  transition: 200ms linear;
  backdrop-filter: blur(20px);
  border: 1px rgba(255, 255, 255, 0.1) solid;
}

.profile:hover {
  transition: 200ms linear;
  box-shadow: inset 12px 14px 27px 0px rgba(0, 0, 0, 0.1);
}

.profile .avatar-title {
  padding: 12px 12px;
  border-radius: 18px;
}

.avatar-title-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px 36px;
  border-radius: 12px;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
}

.avatar-title h1 img {
  height: 34px;
}

.avatar-title h1 {
  font-size: 34px;
  display: flex;
}

.avatar-title h2 {
  display: flex;
  font-size: 30px;
}

.avatar-title h3 {
  display: flex;
  font-size: 28px;
}

.avatar img {
  object-fit: cover;
  height: 400px;
  width: 400px;
  border-radius: 200px;
  margin: 20px;
  transition: 0.2s ease-in-out;
}

.arrow {
  height: 100px;
  transform: rotate(15deg);
}

.avatar img:hover {
  box-shadow: "";
  transform: scale(0.99);
  transition: 0.2s ease-in-out;
}

@media (max-width: 769px) {
  .profile {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }

  .avatar img {
    height: 60vw;
    width: 60vw;
  }
  
  .avatar-title h1 img {
    height: 6vw;
    width: 6vw;
  }
  .avatar-title h1 {
    font-size: 6vw;
  }

  .avatar-title h3, h2 {
    font-size: 6vw;
  }

}

@media screen and (max-width: 1160px) and (min-width: 768px) {
  .profile {
    margin: 0 40px;
  }
  .avatar-title h1 img {
    height: 3vw;
    width: 3vw;
  }

  .avatar-title h1 {
    font-size: 3vw;
  }

  .avatar-title h3, h2 {
    font-size: 3vw;
  }

  .avatar img {
    height: 30vw;
    width: 30vw;
  }
}
