.navbar-custom {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: transparent;
  backdrop-filter: blur(20px);
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.navbar-custom h1 {
  /* font-family: "DM Sans"; */
  font-size: 30px;
  font-family: "Rubik Doodle Shadow";
}

.navbar-custom ul {
  display: flex;
  align-items: center;
}

.navbar-custom a {
  color: #c6c6c6;
  padding: 0.45rem;
  display: flex;
  margin: 0 0.15rem;
  border: 4px solid transparent;
  border-radius: 20px;
  align-items: center;
  transition: border-image 100ms linear;
}

.navbar-custom a img {
  height: 24px;
  width: 24px;
  padding-right: 3px;
}

.navbar-custom .social-icon {
  height: 28px;
  width: 28px;
  border: none;
}

.navbar-custom .nav-links a:hover {
  --angle: 0deg;
  color: #ffffff;
  cursor: pointer;
  border: 4px solid;
  border-image: conic-gradient(
      from var(--angle),
      rgb(255, 47, 47),
      rgb(255, 255, 80),
      rgb(101, 255, 101),
      rgb(123, 255, 255),
      rgb(92, 92, 255),
      rgb(255, 114, 255),
      rgb(255, 47, 47)
    )
    2;
  animation: 3s rotate linear infinite;
  transition: border-image 0.2s linear;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.navbar-custom .social-links a:hover {
  --angle: 0deg;
  color: #000000;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 20px;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  transition: 80ms transform linear;
}

.navbar-custom .welcome span {
  margin-right: 0.6rem;
}

.main-body {
  height: 200px;
  background-color: #b7b7b7;
}

.rainbow_text_animated {
  background: none;
}

.rainbow_text_animated:hover {
  background: linear-gradient(
    to right,
    rgb(255, 47, 47),
    rgb(255, 255, 80),
    rgb(101, 255, 101),
    rgb(123, 255, 255),
    rgb(92, 92, 255),
    rgb(255, 114, 255),
    rgb(255, 47, 47)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 4s ease-in-out infinite;
  background-size: 400% 100%;
  transition: 100ms ease-in-out;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 100%;
  }

  50% {
    background-position: 100% 0;
  }
}

.resume {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #70c8ff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.resume:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.resume:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3f3f3f;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
