@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,800&family=Rubik+Doodle+Shadow&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "DM Sans";
}

:root {
  font-family: "DM Sans";
  width: 100%;
  --primary-color: #3483eb;
  --dark-color: #2e3440;
  --light-color: #f4f4f4;
  --danger-color: #ffaba1;
  --success-color: #93ff89;
}

::-webkit-scrollbar {
  background-color: #2d84fd00;
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #57575700;
}
::-webkit-scrollbar-thumb {
  background-color: #64a5ff;
}

body {
  background-image: url("src/assets/images/13264392_5182880.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

.app-body {
  margin-top: 150px;
}

/* Mobile Styles */
@media (max-width: 700px) {
  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }
}
